.App {
  text-align: center;
  height: 100vh;
  background-color: rgb(231, 228, 228)
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: auto;
  color: white;
}

.flex-container{
  margin: 20px;
  margin-right: 50px;
  display: inline-block;
  align-items: flex-end;
  float: right;
}

.flex-container > a{
  padding: 8px;
  text-decoration: none;
  color: white;
  bottom: 0;
}

.title{
  display: inline-block;
  float: left;
  color: aqua;
  font-size: 5vh;
  margin: auto auto auto 20px;
}

.App-link {
  color: #61dafb;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #282c34;
  color: white;
  text-align: center;
  height: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
