.App {
  text-align: center;
  height: 100vh;
  color: white;
  background-color: rgb(231, 228, 228);
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: auto;
  color: white;
  /* position: fixed; */
  width: 100%;
  z-index: 2;
  top:0;
}

.flex-container{
  margin: 20px;
  /* display: flex; */
  justify-content: end
}

.flex-container > a{
  padding: 8px;
  text-decoration: none;
  color: white;
  bottom: 0;
}

.title{
  margin-left: 40px;
  display: flex;
  color: #00FFF5;
  font-size: 5vh;
  align-items: center;
  font-family: cursive;
}

.App-link {
  color: #61dafb;
}

.footer{
  width: 100%;
  background-color: #282c34;
  color: white;
  text-align: center;
  height: auto;
}

.About{
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  background-image: url(https://media.istockphoto.com/id/1271752802/photo/phone-and-e-mail-icons-on-wooden-cubes-with-contact-us-text-on-blue-background-web-page.jpg?s=612x612&w=0&k=20&c=dk9oPaDy_L9mv_icOMgsFGzEDrX0NUI3I8xBQ-DAxQM=);
  background-size: 100%;
}
.main{
  padding: 16px 32px;
}
.slideshow{
  justify-content: center;
  /* margin: 0 1rem; */
  height:528px;
}
.slide{
  position: relative;
  overflow: hidden;
  width:100%; 
  max-width: 100%;
  height:100%;
  filter: blur(4px black);
}
.slide>img{
  width:100%;
  height:100%;
}
.slide-content{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}
.image-gradient{
  background-image: linear-gradient(to bottom,rgba(255,255,255,0) 50%,#0a0a0a 100%);
  background-repeat: repeat-x;
  width: 100%;
  height: 528px;
  position: absolute;
  bottom: 0;
}
.image-gradient>h2{
  bottom: 0;
}
.h1{
  position: absolute;
  color: white;
  top: 200px;
  left: 50vh;
  right: 50vh;
}
.Tour{
  justify-content: center;
  border: 0.1px solid white;
  border-radius: 5px;
  box-shadow: 4px 4px 4px 2px gray;
  margin: 0 10rem;
  background-color: #393E46;
  /* width: 100%; */
}
.Tour_type{
  font-size: 2.5rem;
  text-transform: uppercase;
}
.Tour>div{
  justify-content: center;
}
.Trek{
  padding: 10px;
  width: 33.33%;
  border: 0.1px solid gray;
  background-color: #00ADB5;
}
.Trek>img{
  height: 40%;
  width:100%;
  /* max-height: 50%; */
}
.Trek>button{
  width:100%;
  background-color: #00FFF5;
  border:none;
  box-shadow: 2px 2px 2px 2px #282c34;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media(max-width:1200px){
  .Tour{
    margin: 0 8rem;
  }
}
@media(max-width:1068px){
  .Tour{
    margin: 0 6rem;
  }
}
@media(max-width: 868px){
  .Tour{
    margin: 4rem;
  }
}
@media(max-width:768px){
  .Tour{
    margin: 0;
  }
  .Tour>div{
    margin-top:6rem; 
  }
}