.App {
  text-align: center;
  height: 100vh;
  background-color: rgb(231, 228, 228);
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: auto;
  color: white;
  /* position: fixed; */
  width: 100%;
  z-index: 2;
  top:0;
}

.flex-container{
  margin: 20px;
  display: flex;
  justify-content: end
}

.flex-container > a{
  padding: 8px;
  text-decoration: none;
  color: white;
  bottom: 0;
}

.title{
  margin-left: 40px;
  display: flex;
  color: orange;
  font-size: 5vh;
  align-items: center;
  font-family: cursive;
}

.App-link {
  color: #61dafb;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #282c34;
  color: white;
  text-align: center;
  height: auto;
}

.About{
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  background-image: url(https://media.istockphoto.com/id/1271752802/photo/phone-and-e-mail-icons-on-wooden-cubes-with-contact-us-text-on-blue-background-web-page.jpg?s=612x612&w=0&k=20&c=dk9oPaDy_L9mv_icOMgsFGzEDrX0NUI3I8xBQ-DAxQM=);
}
.back-img{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.Home{
  height: 100vh;
  background-image: url("https://media.cnn.com/api/v1/images/stellar/prod/170407220916-04-iconic-mountains-matterhorn-restricted.jpg?q=w_2512,h_1413,x_0,y_0,c_fill/w_1280");
  filter: blur(8px);
}
.h1{
  position: absolute;
  color: white;
  top: 200px;
  left: 50vh;
  right: 50vh;
}
.Tour{
  justify-content: center;
}
.Trek{
  padding: 10px;
  width: 30%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
